* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #000000;
    background-color: #ffffff;
}

body main, body footer {
    margin: 40px;
}

header {
    background-color: #3C3C3C;
    padding: 0;
    margin: 0;
}

header img {
    max-width: 14rem;
    height: auto;
    width: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #484848;
    text-decoration: none;
}

a:hover {
    color: #4D0013;
}